.container-fluid.text-center
  .row.col-sm-8.col-sm-offset-2
    .row
      %table.table.table-bordered
        %thead
          %tr
            %th ID
            %th 会社名
            %th 作業開始
            %th 作業終了
            %th 作業時間
            %th 概要
          - @tasks.each do |task|
            %tr
              %td= link_to task.id, edit_work_task_path(task.id)
              %td= task.company.name
              %td= l(task.start_date)
              %td= l(task.end_date)
              %td= (task.end_date - task.start_date) / (60 * 60)
              %td= task.description
  .row
    合計時間 :
    = @tasks.map{|t|(t.end_date - t.start_date) / (60 * 60)}.reduce(&:+)
  .row
    = link_to 'new', new_work_task_path
  .row
    %hr
    = @csv
